{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.banner.enable }}
{{- with $data.homepage.banner }}
<!-- hero area -->
<section class="bg-darkGrey section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<img class="img-fluid" src="{{ .image | absURL }}" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="text-color-on-dark-bg block">
					<h1 class="text-color-on-primary-color font-weight-bold mb-4 font-size-50" color=#fff>
						<img class="img-fluid" src="images/logo.png" alt="" width="55px">
						SpeechWonder
					</h1>
					<h1 class="font-weight-bold mb-4 font-size-50">{{ .title | markdownify }}</h1>
					<h3 class="font-weight-bold mb-4 font-size-50">{{ .subtitle | markdownify }}</h3>
					<p class="mb-4">
						{{ .content | markdownify }}
					</p>
					{{ if .button.enable }}
					{{ with .button }}
					<!-- <a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a> -->
					<!-- TODO: Make this reusable for -->
					<div class="input-group">

						<!-- Begin Mailchimp Signup Form -->
						<!-- Add G Analytics ID -->
						<form
							action="https://dev.us17.list-manage.com/subscribe/post?u=42188939a8252f58b220aab15&amp;id=01b967bbc5"
							method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
							class="validate" target="_blank" novalidate>

							<div class="mc-field-group">
								<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL"
									placeholder="Email">
							</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
									name="b_42188939a8252f58b220aab15_01b967bbc5" tabindex="-1" value=""></div>

							<button id="mc-embedded-subscribe" class="btn-submit btn-main btn" type="submit"
								name="submit" value="Subscribe">
								{{i18n "try_it_for_free"}}
							</button>
						</form>

						<script type='text/javascript'
							src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
						<script
							type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
						<!--End mc_embed_signup-->

						<!-- <form id="first_subscription_form"
							action="{{ site.Params.subscription.mailchimp_form_action_url }}" method="post"
							_lpchecked="1" class="w-100">
							<input type="email" autocapitalize="off" class="form-control" autocorrect="off"
								name="{{ site.Params.subscription.mailchimp_form_name }}"
								id="{{ site.Params.subscription.mailchimp_form_name }}" size="25" 
								placeholder="{{ .placeholder }}">

							<input type="hidden" name="mc_signupsource"
								value="{{ site.Params.subscription.mailchimp_form_mc_signupsource }}">

							<input type="hidden" name="ht" value="91c295e90c435a11eaf408b0ef759ef673e2b37d:MTU5Njk2MzQ2OC4yNDIy">
							<button class="btn btn-main btn-submit" type="submit" name="submit" value="Subscribe">
								{{i18n "try_it_for_free"}}
							</button>
						</form> -->
					</div>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{- end }}
{{- end }}