{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.banner.enable }}
{{- with $data.homepage.banner }}
<!-- hero area -->
<section class="bg-darkGrey section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center mb-5 mb-md-0">
				<img class="img-fluid" src="{{ .image | absURL }}" alt="">
			</div>
			<div class="col-md-6 align-self-center text-center text-md-left">
				<div class="text-color-on-dark-bg block">
					<h1 class="text-color-on-primary-color font-weight-bold mb-4 font-size-50" color=#fff>
						<img class="img-fluid" src="images/logo.png" alt="" width="55px">
						SpeechWonder
					</h1>
					<h1 class="font-weight-bold mb-4 font-size-50">{{ .title | markdownify }}</h1>
					<h3 class="font-weight-bold mb-4 font-size-50">{{ .subtitle | markdownify }}</h3>
					<p class="mb-4">
						{{ .content | markdownify }}
					</p>
					{{ if .button.enable }}
					{{ with .button }}
					<!-- <a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a> -->
					<!-- TODO: Make this reusable for -->
					<div class="input-group">
						<form id="first_subscription_form"
							action="{{ site.Params.subscription.mailchimp_form_action_url }}" method="post"
							_lpchecked="1" class="w-100" target="_blank">
							<input type="email" autocapitalize="off" class="form-control" autocorrect="off"
								name="{{ site.Params.subscription.mailchimp_form_name }}"
								id="{{ site.Params.subscription.mailchimp_form_name }}" size="25" value=""
								placeholder="{{ .placeholder }}">

							<input type="hidden" name="ht" value="91c295e90c435a11eaf408b0ef759ef673e2b37d:MTU5Njk2MzQ2OC4yNDIy">
							<input type="hidden" name="mc_signupsource"
								value="{{ site.Params.subscription.mailchimp_form_mc_signupsource }}">

							<button class="btn btn-main btn-submit" type="submit" name="submit"
								value="Subscribe">{{i18n "try_it_for_free"}}</button>
						</form>
					</div>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{- end }}
{{- end }}