<footer class="bg-darkGrey">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          
          <!-- <a href="{{ site.BaseURL | relLangURL }}" class="mb-4 d-inline-block">{{ if site.Params.logo }} <img
              src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" {{with site.Params.logo_width}}width="{{.}}"
              {{end}}> {{ else }} {{ .Title }} {{ end }}</a> -->
            <a href="{{ site.Params.appStoreDownloadURL }}">
              <img class="donwload-on-app-store" src="images/download-app-store.svg" alt="Download on the App Store"> 
            </a>

          <ul class="list-inline footer-menu">
            {{ range site.Menus.footer }}
            <li class="list-inline-item">
              <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{- partial "privacy-policy-btn.html" }}
          </ul>
          <p class="copyright-text">{{ site.Params.copyright | markdownify }}</p>
          <p class="apple-trademark-text">Apple, the Apple logo, iPhone and iPad are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Snipcart public key -->
{{with site.Params.snipcart_api}}<div hidden id="snipcart" data-api-key="{{.}}"></div>{{end}}

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" }}
<script src="{{ $script.Permalink }}"></script>

<!-- Scripts for mailchimp embedded form -->
<script type='text/javascript' src="/my_js/mailchimp-signup.js"></script>
<!-- <script type='text/javascript'>(function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = 'EMAIL';
    ftypes[0] = 'email';
  }(
    jQuery));
  var $mcj = jQuery.noConflict(true);
</script> -->
<!-- End Scripts for mailchimp embedded form -->