{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.subscription.enable }}
{{- with $data.homepage.subscription }}
<section class="call-to-action section bg-opacity" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h2 class="subheading text-white">{{ .title | markdownify }}</h2>
        <p class="text-white">{{ .content | markdownify }}</p>
        <div class="input-group">

          <!-- Begin Mailchimp Signup Form -->
          <form action="{{ site.Params.subscription.mailchimp_form_action_url }}" method="post"
            id="second_subscription_form" name="second_subscription_form" class="validate" target="_blank" novalidate>

            <div class="mc-field-group2">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL"
                placeholder="{{ .placeholder }}">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response2" style="display:none"></div>
              <div class="response" id="mce-success-response2" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_42188939a8252f58b220aab15_01b967bbc5" tabindex="-1" value=""></div>

            <button id="mc-embedded-subscribe" class="btn-submit btn-main btn" type="submit" name="submit"
              value="Subscribe">
              {{i18n "subscribe"}}
            </button>
          </form>

          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}
{{- end }}